<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>TextSmith</Name>
<Version>
<!-- VERSION -->
</Version>
    <Title>TextSmith Installer</Title>
    <Publisher>SoftwareOnHand</Publisher>
    <InstallerWindowIcon>Installer</InstallerWindowIcon>
    <InstallerApplicationIcon>Installer</InstallerApplicationIcon>
    <StartMenuDir>TextSmith</StartMenuDir>
    <MaintenanceToolName>Uninstall</MaintenanceToolName>
    <TargetDir>@ApplicationsDirX64@/TextSmith</TargetDir>
    <RunProgram>@TargetDir@/TextSmith</RunProgram>
    <RunProgramDescription>Run TextSmith</RunProgramDescription>
    <WizardStyle>Modern</WizardStyle>
    <WizardShowPageList>true</WizardShowPageList>
    <StyleSheet>style.css</StyleSheet>
    <Background>Background.png</Background>
    <RemoteRepositories>
        <Repository>
            <Url>file:///./repo</Url>
            <DisplayName>Local Updates</DisplayName>
            <Enabled>1</Enabled>
        </Repository>
    </RemoteRepositories>
    <ControlScript>controller.qs</ControlScript>
</Installer>
